<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPPWindowsFormsAFIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GPPWindowsFormsAFIP.Properties.Settings>
            <setting name="GPPWindowsFormsAFIP_AFIP_TEST_WSAA_LoginCMSService"
                serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="GPPWindowsFormsAFIP_AFIP_TEST_WSFE_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="GPPWindowsFormsAFIP_AFIP_WSAA_LoginCMSService"
                serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="GPPWindowsFormsAFIP_AFIP_WSFE_Service" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </GPPWindowsFormsAFIP.Properties.Settings>
    </applicationSettings>
</configuration>